<h3>{{Titulo}} <small>{{TituloAccionABMC[AccionABMC]}}</small></h3>

<div class="container">
  <button type="button" class="btn btn-primary" (click)="Agregar()">
            <span class="fas fa-plus"> </span> 
            Agregar
  </button>
</div>

<div class='container' *ngIf="AccionABMC == 'L' && Materias?.length > 0">
  <table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th scope="col">Id Materia</th>
      <th scope="col">Año Materias</th>
      <th scope="col">Nombre Materia</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let obj of Materias">
      <th scope="row">{{obj.IdMateria}}</th>
      <td>{{obj.MateriaAnio}}</td>
      <td>{{obj.MateriaNombre}}</td>
      <td>
        <button type="button" class="btn btn-sm btn-outline-primary" title="Ver" (click)="Consultar(obj)">
                    <span class="fas fa-eye"></span>
                </button>
					<button type="button" class="btn btn-sm btn-outline-primary" title="Modificar" (click)="Modificar(obj)">
                    <span class="fas fa-pencil-alt"></span>
                </button>
      </td>
    </tr>
  </tbody>
  </table>
</div>

<div class="container">
  <form name="FormReg" [formGroup]='FormReg' *ngIf="AccionABMC != 'L'" class="bg-light">

	<fieldset [disabled]="AccionABMC==='C'">
		
		<div class="form-group row">
			<label class="col-form-label col-sm-2 col-sm-offset-2" for="IdMateria">Id <span
                    class="text-danger">*</span></label>
			<div class="col-sm-6">
				<input type="number" class="form-control" disabled formControlName="IdMateria" 
         />    
			</div>
		</div>

    	<div class="form-group row">
			<label class="col-form-label col-sm-2 col-sm-offset-2" for="MateriaAnio">Año Materia <span
                    class="text-danger">*</span></label>
			<div class="col-sm-6">
				<input type="number" class="form-control" formControlName="MateriaAnio" 
         [ngClass]="{'is-invalid': (FormReg.controls.MateriaAnio.touched || submitted)  
            && FormReg.controls.MateriaAnio.errors}" />

				<span class="text-danger" *ngIf="(FormReg.controls.MateriaAnio.touched || submitted) 
                        && FormReg.controls.MateriaAnio.errors?.required">
                    Dato requerido.
                </span>
                <span class="text-danger" *ngIf="(FormReg.controls.MateriaAnio.touched || submitted) 
                        && FormReg.controls.MateriaAnio.errors?.pattern">
                    Dato numérico, 1 a 7 dígitos.
                </span>
                
                
                
			</div>
		</div>
    
    	<div class="form-group row">
			<label class="col-form-label col-sm-2 col-sm-offset-2" for="MateriaNombre">Nombre <span
                    class="text-danger">*</span></label>
			<div class="col-sm-6">
				<input type="text" class="form-control" formControlName="MateriaNombre" 
         [ngClass]="{'is-invalid': (FormReg.controls.MateriaNombre.touched || submitted)  
            && FormReg.controls.MateriaNombre.errors}" />

				<span class="text-danger" *ngIf="(FormReg.controls.MateriaNombre.touched || submitted) 
                        && FormReg.controls.MateriaNombre.errors?.required">
                    Dato requerido.
                </span>
        <span class="text-danger" *ngIf="(FormReg.controls.MateriaNombre.touched || submitted) 
                       && (FormReg.controls.MateriaNombre.errors?.maxlength) ">
                    Dato texto, 50 caracteres máximo.
        </span>
                
			</div>
		</div>

	</fieldset>

  <div class="row justify-content-center">
		<button type="button" *ngIf="AccionABMC!=='C'" class="btn btn-primary" (click)="Grabar()">
            <span class="fas fa-check"></span> Grabar
        </button>
		&nbsp;
		<button type="button" class="btn btn-warning" (click)="Volver()">
            <span class="fas fa-undo"></span> {{AccionABMC=='C' ? 'Volver' : 'Cancelar'}}
        </button>
	</div>

  </form>
</div>
